<h1>{{title}}</h1>
<!--<courses></courses>
<h4>
    <Angular></Angular> 
</h4>
<app-favorite [is-Favorite]="post.isFavorite" (onChange)="onFavoriteChange()"></app-favorite>
<app-favorite [is-Favorite]="post.isFavorite" (eventPassing)="onEventPassing($event)"></app-favorite>
<app-favorite (objectPassing)="onObjectPassing($event)"></app-favorite>
<app-panel>
    <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
        <p>Write some thing here......</p>
    </div>

</app-panel>

<app-course></app-course>
<app-directive></app-directive>-->
<!--<app-zippy>
    <div class="heading">Content heading</div>
    <div class="body">Body</div>
</app-zippy>-->
<!--<contact-form></contact-form>
<signup-form></signup-form>-->
<!--<post></post>
<github-followers></github-followers>-->
<navbar></navbar>
<router-outlet></router-outlet>
